<meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <title>{{page.title}}</title>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="viewport" content="width=device-width">
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <meta name="description" content="{{page.description}}">
    {{#st.resources}}
        <!-- include any app specific css within the resources block.
             Use version query paramater to bust any caching by the
             mobile client -->
		<link rel="stylesheet" href="(css/app.css?v=3)" type="text/css" media="screen" />
    {{/st.resources}}
